/*skill.htmlのcssページ*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-family: 'ヒラギノ角ゴ ProN W6';
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


.main_inner{
     max-width: 960px;
    margin: 0 auto;
    padding-top: 30px;
    margin-top: 30px;
}

h1 {
  color: #696969;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 60px;
  padding: 30px;
  border-top: solid 2px #696969;
  border-bottom: solid 2px #696969;
}

body{
    margin-top: 30px;
}

.main_inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
    align-items: center;
}


.main_box img {
	display: block;
	margin-bottom: 3rem;
	width: 100%;
	height: auto;
}

.main_box h2 {
    color: #736d71;
	margin-bottom: 20px;
	font-size: 20px;
	text-align: center;
}

@media screen and (max-width: 768px){
	.main_inner {
		flex-direction: column;
	}

	.main_box {
		width: 100%;
	}
}
.main_box {
	margin-bottom: 25px ;
    padding: 70px;
	width: 32%;
	background-color: #f0f0f0;
    color: #000000;
}

img{
        border-radius: 20px;    
}
footer p{
    font-size: 25px;
    margin: 20px;
    text-align: center;
}
.footer_inner a:hover{
    opacity: 0.3;
    transition: 0.6s;
}

a{
    color: #000000;
}
